{% extends "base.html.twig" %}

{% block title %}Employee Table{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{ form_start(employeeForm) }}
                    <div class="container">
                        <div class="form-group row justify-content-center">
                            <div class="col-md-8 text-center">
                                <h3>Employees</h3>
                            </div>
                        </div>

                        <div class="form-group row justify-content-center">
                            <div class="col-lg-7">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-3 pr-lg-0">
                                            <label for="inputFirstName" class="col-form-label float-lg-right label-styles">First name:</label>
                                        </div>
                                        <div class="col-lg-9 required-asterisk">
                                            {{form_widget(employeeForm.first_name, {'id': 'inputFirstName'})}}
                                            <div class="first-name-error"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row justify-content-center">
                            <div class="col-lg-7">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-3 pr-lg-0">
                                            <label for="inputLastName" class="col-form-label float-lg-right label-styles">Last name:</label>
                                        </div>
                                        <div class="col-lg-9 required-asterisk">
                                            {{form_widget(employeeForm.last_name, {'id': 'inputLastName'})}}
                                            <div class="last-name-error"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row justify-content-center">
                            <div class="col-lg-7">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-3 pr-lg-0">
                                            <label for="inputDOB" class="col-form-label float-lg-right label-styles">Date of birth:</label>
                                        </div>
                                        <div class="col-lg-5 required-asterisk">
                                            {{form_widget(employeeForm.dob, {'id': 'inputDOB'})}}
                                            <div class="dob-error"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row justify-content-center">
                            <div class="col-lg-7">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-3 pr-lg-0">
                                            <label for="inputEmail" class="col-form-label float-lg-right label-styles">Email address:</label>
                                        </div>
                                        <div class="col-lg-9 required-asterisk">
                                            {{form_widget(employeeForm.email_address, {'id': 'inputEmail'})}}
                                            <div class="email-address-error"></div>
                                         </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group row justify-content-center">
                            <div class="col-lg-7">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-9 offset-lg-3">
                                            <button type="submit" class="btn button-styles" id="submitEmployee" name="submit">SUBMIT</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {{ form_end(employeeForm) }}
            </div>
        </div>  
    </div>       
{% endblock %}